%apnscp_root {{ apnscp_root | quote }}
%apnscp_sysuser {{ apnscp_system_user }}
%apnscp_sysgroup {{ apnscp_system_user }}
%run_apnscp_addin() \
	cd {{ apnscp_root | quote }}/resources/playbooks && \
	ansible-playbook addin.yml --extra-vars=addin=%1
